body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: center;
}

#table {
    display: grid;
    grid-template-columns: repeat(10, 60px);
    gap: 10px;
}

.element {
    background: #1e293b;
    padding: 10px;
    border-radius: 8px;
}

.element:hover {
    background: #38bdf8;
}

#info {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}
